<div class="container">
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm)">
                        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="selectedEmployee._id">
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" name="name" #name="ngModel"
                                    [(ngModel)]="selectedEmployee.name" placeholder="Enter your name">
                            </div>
                            <div class="input-field col s12">
                                <input type="text" name="position" #position="ngModel"
                                    [(ngModel)]="selectedEmployee.position"
                                    placeholder="Enter your position">
                            </div>
                            <div class="input-field col s12">
                                <input type="text" name="office" #office="ngModel"
                                    [(ngModel)]="selectedEmployee.office"
                                    placeholder="Enter your office">
                            </div>
                            <div class="input-field col s12">
                                <input type="text" name="salary" #salary="ngModel"
                                    [(ngModel)]="selectedEmployee.salary"
                                    placeholder="Enter your salary">
                            </div>
                            <div class="card-action">
                                <div class="input-field col s12">
                                    <button class="btn right" style="margin-left:2px;">Save</button>
                                    <button class="btn right" (click)="resetForm(employeeForm)">Clean</button>                                    
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>            
        </div>
        <div class="col s7">
            <table class="striped highlight black-text">
                <thead>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Operations</th>
                </thead>
                <tbody>
                    <tr *ngFor="let employee1 of employees">
                        <td>{{employee1.name}}</td>
                        <td>{{employee1.position}}</td>
                        <td>{{employee1.office}}</td>
                        <td>
                            <a (click)="editEmployee(employee1)"><i class="material-icons">edit</i></a>
                            <a (click)="deleteEmployee(employee1._id, employeeForm)"><i class="material-icons">delete</i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>